*{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
body{
	margin: 0;
	background-color: #34495e;
	color: white;
	font-family: 'Purlsa';
}
.border{
	position: relative;
	margin-left: 0;
	border: 1px solid red;
}
.border1{
	position: relative;
	border: 1px solid green;
}
.new{
	display: block;
}
menu{
	background-color: #16a085;
	display: block;
}
menu ul{
	display: inline-block;
	margin-left: 20px;
	padding-right: 100px;
	padding-bottom: 0;
	margin-bottom: 0;
}
menu li{
	display: inline-block;
	padding-right: 70px;
}
menu li a{
	font-size: 2.5em;
	font-family: 'Purlsa','Apple Garamond', 'Ubuntu';
	color: white;
	transition-property: all;
	transition-duration: 0.5s;
	transition-limiting-function: ease-out;
	transition-delay: initial;	
	text-decoration: none;			
}
menu li a:hover{
	text-decoration: none;
	font-style: bold;
	color: #e74c3c;
}
.type{
	margin-top: 20px;

}
.active1{
	border: 1px solid white ;
	border-radius: 10px;
	background-color: white ;
	font-size: 20px;
	font-family: 'Purlsa','Apple Garamond', 'Ubuntu', Helvetica;
	padding-bottom: 10px;
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	color: #3498db;
}
.active1:hover{
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
}
.li_pad{
	font-size: 20px;
	font-family: 'Purlsa','Apple Garamond', 'Ubuntu', Helvetica;
	padding-bottom: 10px;
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	color: #3498db;
	height: 30px;
}
.but{
	background-color: #16a085;
	border: 1px solid #16a085;
}
.li_pad:hover{
	border: 1px solid black;
	border-radius: 10px;
	background-color: #bdc3c7;
}
.size{
	height: 50px;
	width: 50px;
	border-radius: 10px;
}
.new_li{
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}
.menu1{
	font-size: 1.25em;
	cursor: pointer;
}
.marg{
	margin-top: 20px;
}
.visibl{
	visibility: hidden;
}
.move{
	margin-top: 50px;
}
