<html>
<head>
  <title>CRUD NodeJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <% include layouts/header.ejs %>
  <div class="container">
    <div class="row">
      <h1>NodeJS CRUD Grid</h1>
    </div>
    <div class="row">
      <a href="#" class="btn btn-success">Create</a>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%

          %>
        </tbody>
      </table>
    </div>

  </div>
</body>
</html>