*{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	color: white;
}
body{
	margin: 0;
	padding: 0;
	background-color: #34495e;
}
.border{
	position: relative;
	margin-left: 0;
	border: 1px solid red;
}
.border1{
	position: relative;
	border: 1px solid green;
}
.new{
	display: block;
}
menu{
	text-align: center;
	background-color: #16a085;
	display: block;
}
menu li{
	display: inline-block;
	padding-right: 70px;
}
menu li a{
	font-size: 2.5em;
	font-family: 'Apple Garamond', 'Ubuntu';
	color: white;
	transition-property: all;
	transition-duration: 0.5s;
	transition-limiting-function: ease-out;
	transition-delay: initial;	
	text-decoration: none;			
}
menu li a:hover{
	text-decoration: none;
	font-style: bold;
	color: #e74c3c;
}
.size{
	width: 50px;
	height: 50px;
	margin-right: 30px;
	border-radius: 10px;
}
.size1{
	width: 20px;
	height: 20px;
}
.pos{
	display: inline-block;
	font-family: 'Apple Garamond', 'Ubuntu';
	width: 70px;
	font-size: 15px;
	text-align: center;
}
.search{
	/*background-color: #1abd9d;*/


}
.size_search{
	font-size: 12px;
	font-family: 'Apple Garamond', 'Ubuntu';
	width: 150px;
	display: inline-block;
}
.type{
	display: block;
	list-style-type: none;
	margin-top: 20px;
	font-size: 20px;
}
.li_pad:hover{
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
}
a:hover{
	text-decoration: none;
}
.type a{
	color: #419fdd;
	padding-left: 63px;
	padding-right: 63px;

}
.li_pad{
	text-align: center;
	padding-bottom: 15px;
	text-decoration: none;
}
footer{
	padding: 0;
	padding-bottom: 10px;
}
.hr{
	border: 1px solid white;
	display: inline-block;
	height: 100%;
}
/*.foot{
	padding-top: 5px;

}*/